.menu-card {
  box-shadow: var(--card-box-shadow);
}

.menu-card img {
  max-width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: contain;
  border-radius: var(--card-border-radius);
}

.profile-image-container {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.booking-container {
  background-color: white;
  position: -webkit-fixed;
  position: fixed;
  top: 25%;
  right: 20%;
  padding: 2rem 0;
  border-radius: 5px;
  box-shadow: var(--card-box-shadow);
}

.booking-container div:nth-child(n) {
  padding-bottom: 10px;
}

.test {
  background-color: red;
}

.menu-selected {
  padding-bottom: 2.41rem;
}
