.menu-card {
  box-shadow: var(--card-box-shadow);
}

.menu-card img {
  max-width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: contain;
  border-radius: var(--card-border-radius);
}

.profile-image-container {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.test {
  background-color: red;
}

.menu-selected {
  padding-bottom: 2.41rem;
}

.review-container {
  background-color: #fed8b1;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.review-container button {
  margin-top: 1rem;
  padding: 0.8rem 0.5rem;
}

.review-item {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  height: 150px; /* Set a fixed height */
  overflow: auto; /* Add scrollbar if the content exceeds the height */

  box-shadow: var(--card-box-shadow);
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.review-header h6 {
  margin-bottom: 0;
}

.booking-container {
  display: none;
}

@media screen and (min-width: 1200px) {
  .booking-container {
    display: block;
    background-color: white;
    position: -webkit-fixed;
    position: fixed;
    top: 25%;
    right: 20%;
    padding: 2rem 0;
    border-radius: 5px;
    box-shadow: var(--card-box-shadow);
    pointer-events: none;
  }

  .booking-container div:nth-child(n) {
    padding-bottom: 10px;
  }
}
