{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <div class="container mt-5">
        <div class="row mb-3">
            <div class="col text-end">
                {% if user.is_superuser or user.is_staff %}
                    <a href="{% url 'add_menu_category' %}" class="btn btn-primary">Add Menu Category</a>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center align-items-center mt-4" style="height: 100vh;">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Add a new Menu</h2>
                        <form method="post" action="{% url 'add_menu' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                {% for field in form %}
                                <div class="mb-3">
                                    <label for="{{ field.id_for_label }}" class="form-label custom-label">{{ field.label }}</label>
                                    {% if field.field.widget|class_name == 'Textarea' %}
                                        <textarea name="{{ field.name }}" id="{{ field.id_for_label }}" class="form-control" {% if field.field.required %} required {% endif %}>{{ field.value|default:'' }}</textarea>
                                    {% elif field.field.widget.input_type == 'select' %}
                                        <select name="{{ field.name }}" id="{{ field.id_for_label }}" class="form-control custom-select" {% if field.field.required %} required {% endif %}>
                                            {% for option in field.field.widget.choices %}
                                                <option value="{{ option.0 }}">{{ option.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id_for_label }}" value="{{ field.value|default:'' }}" class="form-control" {% if field.field.required %} required {% endif %}>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            </div>
                            <button type="submit" class="btn btn-outline-primary mr-2">Add menu</button>
                            <a href="{% url 'chef_detail' chef_id=user.chef.user_id %}" class="btn btn-primary">Back</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
