{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center align-items-center mt-4" style="height: 100vh;">
        <div class="col-10 col-md-6 p-4 border rounded shadow">
            <h3>Add a new Menu Category</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- Iterate through Form Fields -->
                <div>
                    {% for field in form %}
                        <div>
                            <label for="{{ field.id_for_label }}" style="display: block; margin-bottom: 5px;">{{ field.label }}</label>
                            <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id_for_label }}" placeholder="Enter category name" style="width: 100%;" {% if field.field.required %} required {% endif %}>
                        </div>
                    {% endfor %}
                </div>

                <button type="submit" class="btn btn-primary mt-3">Add Category</button>
            </form>
        </div>
    </div>
  </div>
{% endblock %}
