{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row mt-3">
        <div class="col">
            <h2>Delete Dish</h2>
            <p>Are you sure you want to delete the dish "{{ dish.name }}"?</p>
            <form method="POST" action="{% url 'delete_dish' menu_id=menu.id dish_id=dish.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
  </div>
{% endblock %}
