{% extends "base.html" %}
{% load static %}

{% block page_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
        <div class="col">
            {% if user.is_authenticated and user.chef.user_id == menu.chef.user_id %}
                <a href="{% url 'add_dish' menu_id=menu.id %}" class="btn btn-primary">Add Dish</a>
                <a href="{% url 'edit_menu' menu_id=menu.id %}" class="btn btn-primary">Edit Menu</a>
            {% endif %}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h2>{{ menu.title }}</h2>
            <p>{{ menu.description }}</p>
            {% for dish in menu.dishes.all %}
              <div>
                <h3>{{ dish.name }}</h3>
                {% if dish.image %}
                  <img src="{{ dish.image.url }}" alt="{{ dish.name }}">
                {% endif %}
                <p>{{ dish.category }}</p>
                <p>{{ dish.description }}</p>
                <a href="{% url 'edit_dish' menu_id=menu.id dish_id=dish.id %}">Edit Dish</a>
                <a href="{% url 'delete_dish' menu_id=menu.id dish_id=dish.id %}">Delete Dish</a>
              </div>
            {% endfor %}
        </div>
    </div>
  </div>
{% endblock %}
