{% extends "base.html" %}
{% load static %}

{% block page_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      {% for chef in all_chefs %}
        <div class="col">
          <h2>{{ chef.first_name }} {{ chef.last_name }}</h2>
          <p>{{ chef.bio }}</p>
          <a href="{% url 'chef_detail' chef_id=chef.id %}">More Details</a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
