{% extends "base.html" %}
{% load static %}

{% block page_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="overlay"></div>
  <div class="container fluid">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
        <h2>{{ chef.user.first_name }} {{ chef.user.last_name }}</h2>
        <p>{{ chef.bio }}</p>
        {% for menu in menus %}
          <div class="row">
            <div class="col-12">
              <h2>{{ menu.title }}</h2>
              <p>{{ menu.description }}</p>
              {% for dish in menu.dishes.all %}
                <h3>{{ dish.name }}</h3>
                <p>{{ dish.category }}</p>
                <p>{{ dish.description }}</p>
              {% endfor %}
              <p>From &#163;{{ menu.price }} pp </p>
              {% endfor %}
            </div>
          </div>
        {% if user.is_authenticated and user.chef.id == chef.id %}
        <a href="{% url 'add_menu' %}" class="btn btn-primary">Add Menu</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
