{% extends "base.html" %}
{% load static %}

{% block extra_js %}
    <!-- FullCalendar core JS -->
    <script src=" https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js "></script>
    <!-- Chef's availability JS -->
    <script src="{% static 'js/chefs/chef_availability.js' %}"></script>
    <!-- Booking JS -->
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="overlay"></div>
  <div class="container fluid">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
        <h2>{{ chef.user.first_name }} {{ chef.user.last_name }}</h2>
        <p>{{ chef.bio }}</p>
        {% for menu in menus %}
          <div class="row">
            <div class="menu-card" data-menu-id="{{ menu.id }}" data-chef-id="{{ chef.id }}" data-chef-first-name="{{ chef.user.first_name }}" data-chef-last-name="{{ chef.user.last_name }}">
              <a href="{% url 'menu_detail' menu_id=menu.id %}">
                <h2>{{ menu.title }}</h2>
              </a>
              <p>{{ menu.description }}</p>
              {% for dish in menu.dishes.all %}
                <h3>{{ dish.name }}</h3>
                <p>{{ dish.category }}</p>
                <p>{{ dish.description }}</p>
              {% endfor %}
              <p>From &#163;{{ menu.price }} pp </p>

              <button type="button" class="btn btn-primary add-menu-js">Add to Booking</button>
            </div>
          </div>
        {% endfor %}
        {% if user.is_authenticated and user.chef.id == chef.id %}
        <a href="{% url 'add_menu' %}" class="btn btn-primary">Add Menu</a>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <!-- Pass the chef id to be able -->
      <div id="calendar" data-chef-id="{{ chef.id }}" data-user-role="{{ user_role }}"></div>
    </div>
    <div class="row">
      <div class="col-6 col-md-3 col-lg-4 offset-lg-2">
        <h2>Availability</h2>
        {% for availability in chef_availability %}
          <p>{{ availability.start_time }} - {{ availability.end_time }}</p>
      {% endfor %}
      </div>
      <div class="col-6 col-md-3">
        <div id="selectedChef" data-chef-id="{{ chef.id }}" data-chef-name="{{ chef.user.first_name }} {{ chef.user.last_name }}"></div>
        <div id="selectedDate" class="d-flex justify-content-center"></div>
        <div id="selectedMenu" class="d-flex justify-content-center"></div>

        <div id="clearBooking" class="hidden">
          <button class="btn btn-primary" id="clearBookingBtn">Clear Booking</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
