:root {
  --primary-color: #ef8354;
  --primary-color-light: #e57373;
  --primary-color-dark: #d32f2f;
  --primary-color-text: #ffffff;
  --accent-color: #ffeb3b;
  --accent-color-light: #ffff72;
  --accent-color-dark: #c8b900;
  --accent-color-text: #000000;

  --text-black: #000000;
}

body {
  color: #555;
  font-family: 'Lato', sans-serif;
  border: 3px solid black;
}

/* Slider */
/* Hide the previous and next buttons in the slider */
.carousel-control-prev,
.carousel-control-next {
  display: none;
}

.home-bg-clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 34%, 100% 33%, 100% 64%, 0 54%);
  background-color: var(--primary-color);
  z-index: -1;
}

.carousel-item > img {
  max-height: 200px;
  object-fit: cover;
  margin-top: 3rem;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (min-width: 688px) {
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 2px solid tomato;
    margin-top: 4rem;
  }

  .slider-container {
    margin: 0 auto;
    width: 50vw;
  }

  .carousel-item > img {
    max-height: 400px;
  }
}

/* TESTING ONLY */
#topnav {
  background-color: var(--primary-color) !important;
  border-bottom: 3px solid black;
}

/* Allauth custom styles */

/* Logout */
.logout-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
