:root {
  --primary-color: #ef8354;
  --primary-color-light: #e57373;
  --primary-color-dark: #d32f2f;
  --primary-color-text: #ffffff;
  --accent-color: #ffeb3b;
  --accent-color-light: #ffff72;
  --accent-color-dark: #c8b900;
  --accent-color-text: #000000;

  --text-black: #000000;
  --text-grey-dark: #616161;

  --card-border-radius: 5px;
  --card-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

body {
  color: #555;
  font-family: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Slider */
/* Hide the previous and next buttons in the slider */
.carousel-control-prev,
.carousel-control-next {
  display: none;
}

.home-bg-clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 40%, 100% 39%, 100% 74%, 0 64%);
  background-color: var(--primary-color);
  z-index: -1;
}

.carousel-item > img {
  max-height: 200px;
  object-fit: cover;
  margin-top: 3rem;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-container {
  padding-top: 164px;
}

@media (min-width: 688px) {
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 4rem;
  }

  .slider-container {
    margin: 0 auto;
    width: 50vw;
  }

  .carousel-item > img {
    max-height: 400px;
  }

  .header-container {
    padding-top: 164px;
  }

  /* Background color trick for the content (just place div on top of the content) */
  .overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    background-color: #fcfcfc;
  }
}

@media (max-width: 667px) {
  body {
    height: calc(100vh - 116px);
  }

  .home-container {
    margin-top: 5rem;
  }

  .header-container {
    padding-top: 116px;
  }

  .hero-container {
    text-align: center;
  }
  .slider-container {
    display: none;
  }

  .home-bg-clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: none;
    background-color: var(--primary-color);
    z-index: -1;
  }
}

#headernav {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#topnav {
  background-color: var(--primary-color) !important;
  padding-bottom: 0.6rem !important;
}

/* Allauth custom styles */

/* Logout */
.logout-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

/* Utility classes */
.hidden {
  display: none;
}

.text-white {
  color: #fff !important;
}

.text-grey-dark {
  color: var(--text-grey-dark) !important;
}

.call-cta {
  border: solid 2px var(--primary-color);
  border-radius: 5px;
  padding: 0.5rem 1rem 0.3rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.fa-xmark {
  cursor: pointer;
  color: #d32f2f;
}

.mt-custom-7rem {
  margin-top: 7rem;
}

.custom-btn {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.custom-dropdown {
  min-width: 250px;
}

@media screen and (min-width: 768px) {
  .mt-custom-10rem {
    margin-top: 11rem;
  }
}

.center-text {
  text-align: center;
}

/* Alerts  */
.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.fade-out.show {
  opacity: 1;
}

.btn-close::before {
  content: '\00d7';
  font-size: 1.5rem;
}
.btn-close {
  background: none;
  border: none;
}
