{% extends "base.html" %}
{% load static %}

{% block extra_js %}
{{ block.super }}
 <!-- Booking JS -->
 <script src="{% static 'js/booking_control.js' %}"></script>
{% endblock %}

{% block page_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    <!-- Customer Details -->
    <div class="row mt-5">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3>Customer Profile</h3>
          </div>
          <div class="card-body">
            <h5>{{ customer.user.first_name }} {{ customer.user.last_name }}</h5>
            <p>Location: {{ customer.location }}</p>

          </div>
        </div>
      </div>
    </div>

    <!-- Bookings Table -->
    <div class="row mt-5">
      <div class="col-12">
          <div class="card">
              <div class="card-header">
                  <h3>Your Bookings</h3>
              </div>
              <div class="card-body">
                  <table class="table table-striped">
                      <thead>
                          <tr>
                              <th scope="col">Chef</th>
                              <th scope="col">Menu</th>
                              <th scope="col">Booking Date</th>
                              <th scope="col">Status</th>
                              <th scope="col">Total Cost</th>
                              <th scope="col">Actions</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for booking in bookings %}
                          <tr
                            {% if bookings|length > 5 and forloop.counter > 5 %}
                              class="collapse" id="moreBookings"
                            {% endif %}>
                                  <td>{{ booking.chef.user.username }}</td>
                                  <td>{{ booking.menu.title }}</td>
                                  <td>{{ booking.booking_date }}</td>
                                  <td>{{ booking.status }}</td>
                                  <td>{{ booking.total_cost }}</td>
                                  <td>
                                    {% if not booking.chefreview %}
                                        <a href="{% url 'create_review' booking.id %}" class="btn btn-primary">
                                            <i class="fas fa-plus-circle"></i> Add Review
                                        </a>
                                    {% else %}
                                        <a href="#" class="btn btn-secondary">
                                            <i class="fas fa-edit"></i> Update Review
                                        </a>
                                    {% endif %}
                                  </td>
                              </tr>
                          {% endfor %}
                      </tbody>
                  </table>
                  {% if bookings|length > 5 %}
                      <p>
                          <a class="btn btn-primary" data-bs-toggle="collapse" href="#moreBookings" role="button" aria-expanded="false" aria-controls="moreBookings">
                              Show More
                          </a>
                      </p>
                  {% endif %}
              </div>
          </div>
      </div>
    </div>
      {% for review in reviews %}
      <p>Customer: {{ review.booking.customer.user.first_name }} {{ review.booking.customer.user.last_name }}</p>
      <p>Chef: {{ review.booking.chef.user.first_name }} {{ review.booking.chef.user.last_name }}</p>
      <p>Rating: {{ review.rating }}</p>
      <p>Review: {{ review.review }}</p>
      {% endfor %}

  </div>
{% endblock %}
