{% extends "base.html" %}

{% block extra_meta %}
<meta http-equiv="refresh" content="4; url={% url 'customer_detail' customer_id=customer_id %}" />

{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
      <div class="col-lg-6">
        <h1>Thank You!</h1>
        <p>Your review has been submitted successfully. You will be redirected shortly...</p>
      </div>
    </div>
  </div>
{% endblock %}