{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1>Update Review</h1>

    <form method="POST" action="{% url 'update_review' booking.id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="rating">Rating:</label>
            <i class="fa-regular fa-star" data-rating="1"></i>
            <i class="fa-regular fa-star" data-rating="2"></i>
            <i class="fa-regular fa-star" data-rating="3"></i>
            <i class="fa-regular fa-star" data-rating="4"></i>
            <i class="fa-regular fa-star" data-rating="5"></i>
            <input type="hidden" name="rating" id="rating" class="form-control" value="{{ review.rating }}" required>
        </div>
        <div class="form-group">
            <label for="review">Review:</label>
            <textarea name="review" id="review" class="form-control" required>{{ review.review }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update Review</button>
    </form>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var stars = document.querySelectorAll(".fa-star");
      var ratingInput = document.getElementById("rating");
      var initialRating = ratingInput.value;

      // Set the initial rating
      stars.forEach(function(star, index) {
        if (index < initialRating) {
          star.classList.remove("fa-regular");
          star.classList.add("fa-solid");
        } else {
          star.classList.remove("fa-solid");
          star.classList.add("fa-regular");
        }
      });

      stars.forEach(function(star) {
        star.addEventListener("click", function() {
          var rating = this.getAttribute("data-rating");
          ratingInput.value = rating;

          // Highlight the stars that should be active
          stars.forEach(function(s, index) {
            if (index < rating) {
              s.classList.remove("fa-regular");
              s.classList.add("fa-solid");
            } else {
              s.classList.remove("fa-solid");
              s.classList.add("fa-regular");
            }
          });
        });
      });
    });
  </script>
{% endblock %}
