{% load static %}
{% load group_filter %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <!-- Bootstrap CSS -->
    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- TODO: Fix double imports of the Bootstrap before styling!!! -->
    <script src="https://kit.fontawesome.com/733177767a.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    {% endblock %}

    {% block extra_js %}
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    <title>Palate Prestige {% block extra_title %} {% endblock %}</title>
  </head>
  <body>
    <header id="headernav" class="container-fluid fixed-top">
      <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
          <a href="{% url 'home' %}" class="navbar-brand">
            <h2 class="logo-font text-white my-0"><strong>Palate</strong>Prestige</h2>
          </a>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
          <form method="GET" action="{% url 'menus' %}">
            <div class="input-group w-100">
              <input type="text" name="q" placeholder="Search for menus" class="form-control border border-black rounded-0">
              <div class="input-group-append">
                <button type="submit" class="form-control btn btn-dark border border-black rounded-0">
                  <span class="icon">
                    <i class="fas fa-search"></i>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
          <ul class="list-inline text-center text-lg-end my-0 d-flex">
            {% if request.user.is_authenticated %}
                <li class="list-inline-item dropdown mr-2 ml-auto">
                    <a href="#" class="text-white nav-link" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true">
                        <div class="text-center">
                            <i class="fas fa-user" style="font-size: 1.25rem;"></i>
                        </div>
                        <span class="d-none d-lg-inline-block" style="font-size: 1.15rem;">My Account</span>
                    </a>
                    <ul class="dropdown-menu border-0" aria-labelledby="user-options">
                        {% if request.user.is_superuser %}
                            <li><a href="#" class="dropdown-item">Admin</a></li>
                        {% endif %}
                        {% if user.is_authenticated %}
                            {% if user|has_group:'Chef' %}
                                <li><a href="{% url 'chef_detail' chef_id=user.id %}" class="dropdown-item">My Profile</a></li>
                            {% elif user|has_group:'Customer' %}
                                <li><a href="{% url 'customer_detail' customer_id=user.id %}" class="dropdown-item">My Profile</a></li>
                            {% endif %}
                        {% endif %}
                        <li><a href="#" class="dropdown-item">My Bookings</a></li>
                        <li><a href="#" class="dropdown-item">My Reviews</a></li>
                        <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                    </ul>
                </li>
            {% else %}
                <li class="list-inline-item ml-auto" style="font-size: 1.15rem;">
                    <a href="{% url 'account_login' %}" class="mr-3 text-white">Login</a>
                    <a href="{% url 'account_signup' %}" class="mr-3 text-white">Sign Up</a>
                </li>
            {% endif %}
        </ul>
        </div>
      </div>
      <div class="row bg-white">
        <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-center align-items-center w-100">
          {% include "includes/mobile-top-header.html" %}
          {% include "includes/main-nav.html" %}
        </nav>
      </div>
    </header>


    {% if messages %}
    <div class="fixed-bottom">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade-out show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    </div>
  {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postload_js %}
    {% endblock %}

    <script>
      // Hide alert messages after 6 seconds if they exist
      let alertElement = document.querySelector('.alert');
      if (alertElement) {
        setTimeout(function () {
          alertElement.classList.remove('show');
        }, 6000);
      }
    </script>
  </body>
</html>
